.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}





.Content {
  display: flex;
}
.Sidebar {
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.Sidebar .lib {
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  left: 21px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}

.SidebarList .row {
  width: 80%;
  height: 50%;
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  color: rgb(9, 196, 243);
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: 14px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #4287F5;
  color: white;
}

.SidebarList #active {
  background-color: #4287F5;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.main-content {
  flex-grow: 1;
  padding-left: 30px;
  padding-top: 30px;
}


.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px; /* Decrease the padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px; /* Decrease the font size */
  
}
.button.delete{
  background-color: #f10202;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}